.body{background-color: rgb(223, 250, 232)}

.chan {text-align: bottom right;font-size: 20px; color: rgb(247, 247, 128);background-color: rgb(3, 99, 30);padding: 5px 7px 5px}

.dau {text-align: center;font-size: 20px;color: rgb(255, 251, 0); background-color: rgb(3, 99, 30);padding: 10px 20px 30px; background: url(anh/nendau.jpg);}
.thanh {text-align: center;font-size: 35px;background-color: rgb(250, 250, 118);height: 40px;color: black;padding: 7px; }

.noidung {display: block;padding: 25px 25px;font-size: 25px;width: 1000px;margin: auto;}

.chu {font-family: "times new roman";text-indent: 10px;text-align: justify;}

.ip{text-indent: 0px;}

.a {padding: 50px;font-size: medium;color: #01350e;font-weight: bolder;text-decoration: none;}

.bl {display: block;height: 200px;width: 250px; margin: auto;}

.il {display: inline-grid;height: 350px;width: 300px;}

.a2 {font-size: 30px;color: #000000;font-weight: bolder;}

.logo{margin: -500px 0px 0px 1180px;}